version: 2
updates:
- package-ecosystem: bundler
  directory: "/"
  schedule:
    interval: daily
    time: "02:00"
  open-pull-requests-limit: 10
  reviewers:
  - andrcuns
  assignees:
  - andrcuns
  labels:
  - type:dependency
- package-ecosystem: bundler
  directory: "/allure-rspec"
  schedule:
    interval: daily
    time: "02:00"
  open-pull-requests-limit: 10
  reviewers:
  - andrcuns
  labels:
  - type:dependency
- package-ecosystem: bundler
  directory: "/allure-ruby-commons"
  schedule:
    interval: daily
    time: "02:00"
  open-pull-requests-limit: 10
  reviewers:
  - andrcuns
  labels:
  - type:dependency
- package-ecosystem: bundler
  directory: "/allure-cucumber"
  schedule:
    interval: daily
    time: "02:00"
  open-pull-requests-limit: 10
  reviewers:
  - andrcuns
  labels:
  - type:dependency
