name: Draft Release

on:
  push:
    branches:
      - master

jobs:
  update_draft_release:
    runs-on: ubuntu-20.04
    steps:
      - uses: toolmantim/release-drafter@v5.15.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
