name: Lint

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  rubocop:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@2

      - name: Set up Ruby 3.0
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0
          bundler-cache: true

      - name: Lint
        run: bundle exec rake rubocop
