name: Release

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-16.04
    steps:
      - name: Checkout
        uses: actions/checkout@master
      
      - name: Cache gems
        uses: actions/cache@v1
        with:
          path: vendor/bundle
          key: 2.7-gems-${{ hashFiles('Gemfile.lock') }}
          restore-keys: 2.7-gems-
      
      - name: Set up Ruby
        uses: actions/setup-ruby@v1.1.1
        with:
          ruby-version: '2.7'

      - name: Install
        run: |
          gem install bundler -v 2.1.4 --no-document
          bundle config path vendor/bundle
          bundle install -j $(nproc)
        env:
          BUNDLE_SUPPRESS_INSTALL_USING_MESSAGES: 'true'
      
      - name: Test
        run: bundle exec rake
      
      - name: Release
        run: bundle exec rake release
        env:
          GEM_HOST_API_KEY: ${{ secrets.RUBYGEMS_TOKEN }}
