name: Test

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  rubocop:
    name: Rubocop
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Ruby 3.1
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.1"
          bundler-cache: true
      - name: Lint
        run: bundle exec rake rubocop

  rspec:
    name: Rspec ruby-${{ matrix.ruby }}
    runs-on: ubuntu-22.04
    needs: rubocop
    strategy:
      matrix:
        ruby: ["2.7", "3.0", "3.1"]
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Test
        uses: paambaati/codeclimate-action@v4.0.0
        env:
          CC_TEST_REPORTER_ID: be263ef9412dc65a7aa8dfb6e8162d5c7cfb3307fae0a444cde9dd6ca6f52848
          ALLURE_ENVIRONMENT: ruby-${{ matrix.ruby }}
        with:
          coverageCommand: bundle exec rake test:coverage
          coverageLocations: coverage/coverage.json:simplecov
      - name: Upload report
        uses: actions/upload-artifact@v3
        with:
          name: allure-results
          path: "*/reports/allure-results/*"
          retention-days: 1

  report:
    name: Allure report
    runs-on: ubuntu-22.04
    needs: rspec
    if: github.actor == 'andrcuns'
    steps:
      - name: Download allure-results
        uses: actions/download-artifact@v3
        with:
          name: allure-results
      - name: Publish allure report
        uses: andrcuns/allure-publish-action@v2.3.0
        env:
          GOOGLE_CLOUD_CREDENTIALS_JSON: ${{ secrets.GOOGLE_CLOUD_CREDENTIALS_JSON }}
          GITHUB_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ALLURE_JOB_NAME: rspec
        with:
          storageType: gcs
          resultsGlob: "*/reports/allure-results"
          bucket: allure-test-reports
          prefix: allure-ruby/$GITHUB_REF
          updatePr: description
          summary: behaviors
          copyLatest: true
          ignoreMissingResults: false
          summaryTableType: ascii
