name: Test

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  rubocop:
    name: Rubocop
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Ruby 3.4
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4
          bundler-cache: true
      - name: Lint
        run: bundle exec rake rubocop

  rspec:
    name: Rspec ruby-${{ matrix.ruby }}-oj-${{ matrix.oj }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: rubocop
    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.2", "3.3", "3.4"]
        oj: [false, true]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        env:
          WITH_OJ_GEM: ${{ matrix.oj }}
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Test
        env:
          WITH_OJ_GEM: ${{ matrix.oj }}
          RUBY_VERSION: ${{ matrix.ruby }}
        run: bundle exec rake test
      - name: Upload report
        uses: actions/upload-artifact@v5
        with:
          name: allure-results-${{ matrix.ruby }}-oj-${{ matrix.oj }}
          path: "*/reports/allure-results/"
          retention-days: 1
