name: Test

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby: ['2.5.8', '2.6.6', '2.7.1']
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Cache gems
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ matrix.ruby }}-gems-${{ hashFiles('Gemfile.lock') }}
          restore-keys: ${{ matrix.ruby }}-gems-

      - name: Set up Ruby ${{ matrix.ruby }}
        uses: actions/setup-ruby@v1.1.1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Install
        run: |
          gem install bundler -v 2.1.4 --no-document
          bundle config path vendor/bundle
          bundle install -j $(nproc)
        env:
          BUNDLE_SUPPRESS_INSTALL_USING_MESSAGES: 'true'
      
      - name: Lint
        run: bundle exec rake rubocop

      - name: Test
        run: bundle exec rake test_with_coverage
        env:
          CI: "true"
          CC_TEST_REPORTER_ID: be263ef9412dc65a7aa8dfb6e8162d5c7cfb3307fae0a444cde9dd6ca6f52848
          CONTEXT: ${{ toJson(github) }}
          RUBY_VERSION: ${{ matrix.ruby }}
